<html ng-app="mainApp">
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/stylesheet.css">
</head>
<body ng-controller="apiController">
	<h1>API Helper v1.1</h1>
	<div>
		Subdomain: <input id="subdomain" ng-model="auth.subdomain">
		<div>
			<h3>Authentication Info</h3>
			Username: <input ng-model="auth.username" ng-change="updateAuthString()">
			Password: <input ng-model="auth.password" ng-change="updateAuthString()">
			Token: <input ng-model="auth.token" ng-change="updateAuthString()">
			<div>
				View Authentication String <input type="checkbox" ng-model="displayElements.strings.auth">	
			</div>			
			<div ng-show="displayElements.strings.auth">
				<p>{{authString}}</p>
			</div>
			<div>
				View HTTP Example <input type="checkbox" ng-model="displayElements.posts.auth">
			</div>
			<div ng-show="displayElements.posts.auth">
				<p>	POST /do=noauth/rest/service HTTP/1.1 <br>
					Host: {{auth.subdomain}}.insidesales.com <br>
					{{authString}}
				</p>
			</div>
			<div>
				<button ng-click="authenticate()">Authenticate to Server</button>
			</div>
		</div>
		
		<div>
			<h3>API Method</h3>
			Method: 
			<select ng-model="apiMethod" ng-change="updatePostString()">
				<option ng-repeat="method in allowedMethods" ng-value="method">{{method}}</option>
			</select>
		</div>
		<div>
			<h3>Filters</h3>
			<div ng-repeat="filter in filters">
				Field: <input ng-model="filter.field">
				Operator:
				<select ng-model="filter.operator">
					<option ng-repeat="operator in allowedFilterOperators" ng-value="operator">{{operator}}</option>
				</select>
				Values: <input ng-model="filter.values[0]">
				<button ng-click="removeFilter($index)">Remove Filter</button>
			</div>
			<button ng-click="addFilter()">Add Filter</button>
			<div>				
				Offset: <input ng-model="offset" ng-change="updatePostString()">
				Limit: <input ng-model="limit" ng-change="updatePostString()">
			</div>
			<div>
				View Post String <input type="checkbox" ng-model="displayElements.strings.post">
			</div>			
			<div ng-show="displayElements.strings.post">
				<p>{{postString}}</p>
			</div>
			<div>
				View HTTP Example <input type="checkbox" ng-model="displayElements.posts.query">
			</div>
			<div ng-show="displayElements.posts.query">
				<p>	POST /do=noauth/rest/service HTTP/1.1 <br>
					Host: {{auth.subdomain}}.insidesales.com <br>
					Cookie: PHPSESSID=<strong>ID derived from Authentication access_token</strong> <br>
					{{postString}}
				</p>
			</div>
			<div>
				<button ng-click="queryAPI()">Query Server</button>
			</div>
		</div>
		<div>
			<h3>Server Response</h3>
			<form>
				<input type="radio" ng-model="displayElements.responseFormat" value="raw">Raw
				<input type="radio" ng-model="displayElements.responseFormat" value="refined">Refined
			</form>
			<div ng-show="displayElements.responseFormat == 'raw'">
				Server Status: {{serverResponse.status}} <br>
				Server Response: {{serverResponse.data}}
			</div>
			<div ng-show="displayElements.responseFormat == 'refined'">
				<p>Objects Returned: {{serverResponse.data.length}}</p>
				Object to View: <input ng-model="responseObject">
				<table ng-repeat="object in serverResponse.data" ng-show="$index == responseObject-1">
					<tr>
						<th>Field Name</th>
						<th>Value</th>
					</tr>
					<tr ng-repeat="(key, value) in serverResponse.data[$index]">
						<td>{{key}}</td>
						<td>{{value}}</td>
					</tr>
				</table>
			</div>			
			
		</div>
	</div>
	<script type="text/javascript" src="/app.js"></script>
</body>
</html>